targets:
{{- if .features.docker -}}
  # --------------------------
  # Docker daemon.json
  # --------------------------
  "/etc/systemd/system/docker.service.d/http-proxy.conf":
    source: "etc/systemd/system/docker.service.d/http-proxy.conf.tmpl"
    type: "file"
    perm: 0644
    owner: root
    group: root
{{- end -}}
