#cloud-config

users:
  - name: devuser
    groups: [sudo, docker]
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash

timezone: "Asia/Tokyo"

package_update: true
package_upgrade: true
packages:
  - ansible
  - ca-certificates
  - curl
  - docker.io
  - git
  - wget
  - vim

write_files:
  - path: /etc/environment
    content: |
      DEPLOYMENT_TYPE=all
      PROXY_HOST=in-proxy.denso.co.jp
      PROXY_PORT=8080
      NO_PROXY=localhost,127.0.0.1,.local
      GIT_USER_NAME="Your Name"
      GIT_USER_EMAIL=your@example.com
      GIT_PAT=your_token
      GCI_NAME=your.name.dn
    append: true

# Install and run chezmoi
runcmd:
  - bash -c "source /etc/environment"
  - sudo sh -c "$(curl -fsLS get.chezmoi.io)" -- -b /usr/local/bin
  - chezmoi init --apply https://github.com/hiroyoshii/dotfiles.git
  
  # Reload shell configuration
  - su - devuser -c "source ~/.bashrc"

# Final message
final_message: "Cloud-init complete. Dotfiles deployed via chezmoi. System ready for deployment type: $DEPLOYMENT_TYPE"
