{{- /* Git configuration with proxy support */ -}}
[user]
	name = {{ env "GIT_USER_NAME" | default "Your Name" }}
	email = {{ env "GIT_USER_EMAIL" | default "your.email@example.com" }}

[core]
	editor = vim
	autocrlf = input
	filemode = false

{{- if .proxy.host }}
[http]
	proxy = {{ .proxy.url }}
	sslVerify = true

[https]
	proxy = {{ .proxy.url }}
	sslVerify = true
{{- end }}

[pull]
	rebase = false

[init]
	defaultBranch = main

[alias]
	unstage = reset HEAD --

[color]
	ui = auto

[push]
	default = simple
	autoSetupRemote = true

[credential]
	helper = cache
