
# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

alias cdw='cd /mnt/c/Users/10001231096/Documents/work'

{{- if .features.gcloud }}
alias ssh_dev='gcloud compute ssh {{ gcloud.ssh_user }}@dev-tky-btn-ubuntu --project dev-tky-fiot '
alias ssh_lab='gcloud compute ssh {{ gcloud.ssh_user }}@labd-btn-terraform --project gw-labd-fiot'
alias ssh_stglab='gcloud compute ssh {{ gcloud.ssh_user }}@stg-labd-btn-ubuntu --project stg-labd-fiot'
alias ssh_repx='gcloud compute ssh {{ gcloud.ssh_user }}@devmgr-tky-btn-ubuntu --project repx-dev-jp-fiot-mgr --tunnel-through-iap'
alias ssh_repxbiz='gcloud compute ssh {{ gcloud.ssh_user }}@tky-btn --project repx-dev-jp-fiot-biz --tunnel-through-iap'
alias ssh_stg='gcloud compute ssh --tunnel-through-iap {{ gcloud.prodstg_ssh_user }}@stg-tky-btn-ubuntu --project stg-tky-fiot'
alias ssh_prod='gcloud compute ssh --tunnel-through-iap {{ gcloud.prodstg_ssh_user }}@prod-tky-btn-ubuntu --project prod-tky-fiot'

alias gauth_dev="gcloud auth login {{ gcloud.ssh_user }}@fiot.globaldenso.com"
alias gauth_prod="gcloud auth login {{ gcloud.prodstg_ssh_user }}@fiot.globaldenso.com"
{{- end }}

{{- if .features.git }}
# Git aliases
alias gs='git status'
alias gd='git diff'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gl='git log --oneline --graph'
{{- end }}

{{- if .features.docker }}
# Docker aliases
alias dps='docker ps'
alias dpsa='docker ps -a'
alias di='docker images'
alias dc='docker-compose'
{{- end }}

{{- if .features.helm }}
# Helm aliases
alias h='helm'
alias hls='helm list'
{{- end }}
