{{- /* Docker CLI configuration with proxy */ -}}
{
  "auths": {},
  "credHelpers": {
          "asia-northeast1-docker.pkg.dev": "gcloud"
  },
{{- if .proxy.host }}
  "proxies": {
    "default": {
      "httpProxy": "{{ .proxy.url }}",
      "httpsProxy": "{{ .proxy.url }}",
      "noProxy": "{{ .proxy.noProxy }}"
    }
  },
{{- end }}
  "experimental": "disabled"
}