# Global SSH settings
Host *
    ServerAliveInterval 60
    ServerAliveCountMax 3
    TCPKeepAlive yes
    Compression yes
    ControlMaster auto
    ControlPath ~/.ssh/control-%r@%h:%p
    ControlPersist 10m

Host anthos-dev
    HostName 133.192.37.77
    User ubuntu
    Port 22
Host anthos-stg
    HostName 133.192.35.161
    User ubuntu
    Port 22
Host anthos-prod
    HostName 133.192.97.85
    User ubuntu
    Port 22
Host openshift-dev
    HostName 133.192.37.78
    User ubuntu
    Port 22

{{- if .features.gcloud }}
# Google Cloud Compute instances
Host gcp-dev
  HostName dev-tky-btn-ubuntu
  User {{ .gcloud.ssh_user }}
  IdentityFile ~/.ssh/google_compute_engine
  ProxyCommand ~/.ssh/gcp-start-iap-tunnel.sh %h %p dev-tky-fiot
{{- end }}
